.sobre-banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/sobre-banner.jpg);
    background-position-x: center;
    background-position-y: center;
}

.section{
    min-height: 250px;
}

.section.about {
    flex-direction: row;
    position: relative;
    width: 100%;
    display: flex;
    padding: 80px 10%;
    gap: 5%;
    justify-content: space-between;
    overflow: hidden;
}

.section.about .line {
    border: 1px solid #EE3442;
    width: 100%;
    margin-bottom: 30px;
}

.section.about .middle-img-text {  
    width: 50%;
    height: 45%;
    border-radius: 10px;
}

.section.ideais {
    background-color: #815E5E;
    width: 100%;
    display: flex;
    padding: 0 10% 0 0;
    gap: 5%;
}

.principios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

.principio{
    background-color: #EE3442;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 3%;
    width: 270px;
    height: 270px;
    border-radius: 100%;
}

.principio h4{
    align-self: center;
    font-size: 18px;
    color: #2E2F33;
    margin-bottom: 15px;
}

.principio p{
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-justify: inter-ideograph;
    margin: 0;
}

.valores{
    color: #fff;
    margin-bottom: 25px;
    text-align: justify;
}

.finally{
    color: #000;
    padding: 5% 10%;
    text-align: center;
}

.section.about .text-box{
    z-index: 999;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 15px;
    text-align: justify;
}

.text-box .text{
    color: #2E2F33;
}

.section.about.gray{
    min-height: 500px;
    align-items: center;
    padding: 80px 10%;
    background-color: #A5A4A4;
    flex-direction: row;
}

.section.about.gray .text-box{
    background-color: #A5A4A4;
}

.text-box .title{
    font-weight: 900;
    max-width: 85%;
    color: #2E2F33;
    margin: 0;
}
