/*cores*/
.white {
    color: white;
}

.red{
    color: #EE3442;
}

/*objetos*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17,67,50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(17,67,50);
} 
.home_nav_ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    font-family: "Open Sans";
    margin-bottom: 0;
}

.menu-options{
    width: 215px;
    min-height: 150px;
    flex-direction: column;
    padding: 15px 50px;
}

.btn-gray{
    width: 105px;
    height: 43.75px;
    color: #fff;
    border: none;
    background-color: #2E2F33;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all ease .5s;
}

.btn-gray:hover{
    color: #2E2F33;
    border: 1px solid #2E2F33;
    background-color: #fff;
}

.btn-red{
    padding: 12px 30px;
    color: #fff;
    border: none;
    background-color: #EE3442;
    border: 1px solid #EE3442;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all ease .5s;
}

.btn-red:hover{
    color: #EE3442;
    background-color: #fff;
}

.btn-down{
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
    transition: all ease .2s;
}

.middle-image {
    min-width: 40%;
    width: 100%;
    border-radius: 0 30px 30px 0;
    aspect-ratio: 1 / 0.8;
}

.middle-image.border {
    aspect-ratio: 1 / 0.7;
}

.icon-footer{
    width: 25px;
}

.division .redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
}

.redes .icon-footer{
    cursor: pointer;
    transition: all ease .5s;
}

.redes .icon-footer:hover {
    transform: scale(1.1);
}

/*Estilos*/
.escalar{
    transition: 1s all ease;
    cursor: pointer;
    z-index: 1;
}

.escalar:hover{
    scale: 1.1;
    z-index: 999;
}

/*Formulários*/
.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.associe .form{
    width: 70%;
}

.container-middle {
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.form-control {
    display: flex;
    padding: 0;
    background: transparent;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.form-control textarea {
    border: none;
    border-radius: 10px;
    outline: 0;

    display: flex;

    font-size: 14px;

    width: 100%;
    padding: 15px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
}

.margin-10{
    margin-bottom: 10%;
}

.form-control input {
    border: none;
    border-radius: 10px;
    outline: 0;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    position: relative;
}

.form-control select {
    border: 2px solid #3E445B;
    border-radius: 10px;
    outline: 0;

    display: flex;

    font-size: 14px;

    width: 100%;
    padding: 15px;
    position: relative;
}

.form-control.success input {
    border: 3px solid #328146;
}

.form-control.success select {
    border: 3px solid #328146;
}

.form-control.success textarea {
    border: 3px solid #328146;
}

.form-control.error input {
    border: 3px solid #b22c2c;
}

.form-control.error textarea {
    border: 3px solid #b22c2c;
}

.form-control.error select {
    border: 3px solid #b22c2c;
}

.shake {
    animation: shake 0.2s 2;
}

.form-control.success i.icon-success {
    visibility: visible;
}

.form-control.error i.icon-error {
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
}

.alert{
    border: none;
    margin: 0 0 15px;
}
.form-control i {
    position: absolute;
    top: 50px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    color: #b22c2c;
}

.message{
    position: absolute;
    top: 93%;
    left: 1%;
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75% {
        translate: 6px 0;
    }
}

.foto-gallery {
    height: 100%; /* Define a altura do contêiner */
    position: relative;
    overflow: hidden;
}

.foto {
    height: 100%;  /* Ocupa toda a altura do contêiner */
    width: 100%;  /* Opcional, para ocupar 100% da largura */
    object-fit: cover; /* Garante que a imagem seja redimensionada corretamente */
}

.foto-controls {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
    opacity: 0.2;
}

.foto-controls:hover{
    opacity: 1;
}

.controls-previous {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.controls-previous::before {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 20px;
    transform: rotate(135deg);
    width: 20px;
}

.controls-next {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.controls-next::before {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
}