.servicos-banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/servicos-banner.png);
    background-position-x: center;
    background-position-y: center;
}

.servico .servico-name {
    cursor: pointer;
}

.atividades-destaque{
    padding: 5% 10% 10%;
}

.atividades-destaque h2{
    margin-bottom: 10px;
    color: #EE3442;
    font-weight: 900;
}

.atividades-destaque .line{
    margin-bottom: 50px;
    width: 40%;
    border: 1px solid #EE3442;
    min-width: 430px;
}

.atividades-destaque h3{
    margin-bottom: 30px;
    color: #000;;
    font-weight: 900;
}

.atividades-destaque p{
    margin-bottom: 30px;
}

.atividades-destaque ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
