{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Sobre Nós - Pharma Express' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extra_head %}
{% block content %}
    <main>
        <div class="banner-page sobre-banner">
            <div class="line"></div>
            <h1>Sobre Nós</h1>
            <div class="line"></div>
        </div>
        <div class="section about">
            <div class="about-text-img">
                <img class='middle-image middle-img-text middle-img-text-left' src="{% static 'img/entrega-rapida.jpg' %}" alt="">
            </div>
            
            <div class="text-box">
                <h4 class="title">Distribuição de Medicamentos com Agilidade e Confiabilidade</h4>
                <div class="line"></div>
                <p class='text justify'>
                    Na Transportadora São Sebastião, acreditamos que cada carga é uma promessa de entrega, e
                    cumprir essa promessa é o nosso compromisso.
                </p>
                <p class='text justify'>
                    Com anos de experiência e dedicação, estamos prontos para levar seu negócio a novas alturas,
                    cuidamos de sua carga como se fosse nossa. Com um histórico sólido de segurança e
                    confiabilidade, você pode dormir tranquilo sabendo que suas mercadorias estão em boas mãos.
                </p>
            </div>
        </div>
        <div class="section about gray">
            <div class="text-box">
                <h4 class="title">Excelência Logística e Compromisso com a Saúde</h4>
                <div class="line"></div>
                <p class='text justify'>
                    Nossa equipe está empenhada em entregar sua encomenda no tempo determinado, sem
                    atrasos, trabalhamos de perto para oferecer soluções de transporte personalizadas que
                    atendam as suas necessidades específicas.
                </p>
                <p class='text justify'>
                    Faça uma escolha inteligente, escolha a Transportadora São Sebastião para o transporte seguro
                    e confiável de suas mercadorias.
                </p>
                <p class='text justify'>
                    Sua carga, nosso compromisso!
                </p>
            </div>
            <div class="about-text-img">
                <img class='middle-image middle-img-text middle-img-text-right' src="{% static 'img/Distribuicao.jpeg' %}" alt="">
            </div>
            
        </div>
        <section class="principios">
            <div class="principio">
                <h4>Missão</h4>
                <p>Entregamos soluções rápidas e eficientes na distribuição de medicamentos.</p>
            </div>
            <div class="principio">
                <h4>Visão</h4>
                <p>Transformar a distribuição em uma experiência personalizada e eficiente.</p>
            </div>
            <div class="principio">
                <h4>Valores</h4>
                <p>Agilidade: Soluções rápidas para as necessidades do setor.</p>
                <p>Transparência: Relação baseada na honestidade.</p>
                <p>Flexibilidade: Adaptação às demandas dos clientes.</p>
            </div>
        </section>
    </main>
{% endblock content%}
{% block script %}
    <script src="{% static 'js/open_list.js' %}"></script>
{% endblock script %}